* {
  margin: 0;
  padding: 0;
}

.seatRow {
  height: 100%;
  width:100%;
  font-size:0;
}

.seat {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  font-size: 12px;
  width: 5%;
  border: 2px solid black;
  margin: 6px 10px;
}

.freeSeat {
  background: green;
}

.pickingSeat {
  background: yellow;
}

.reservedSeat {
  background: red;
}

.hide {
  display: none;
}

.centered {
  text-align: center;
}

.centeredBtn {
  margin:0 auto;
  display:block;
}

.default {
  cursor: default;
}

.pointer {
  cursor: pointer;
}